nav {
    background-color: hsl(0,0%,100%);
    color: hsl(0,0%,9%);
}
.nav--anchor{
    text-decoration: none;
    color: hsl(0,0%,25%)
}
.navbar-toggler {
    border-style: none;
    color: transparent !important;
}

.dev-logo {
    height: 40px;
    width: 50px;
}

.search-none {
    display: none !important;
}

.search-mobile {
    border: none;
    background: none;
}


.alert-notification {
    width: 15px;
    height: 25px;
    color: hsl(0,0%,100%);
    background-color: hsl(4,71%,53%);
    border-radius: 50px;
    margin-left: -10px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.button-create-post {
    display: none;
}


@media screen and (min-width: 768px) {
    .hamburger-btn {
        display: none;
    }
    .button-create-post {
        color: hsl(235,72%,55%);
        border-color: hsl(235,72%,55%);
        height: 40px;
        width: 118px;
        display: inline-block;
    }
    .button-create-post:hover {
        background-color: hsl(235,72%,55%);
        border-color: hsl(235,72%,55%);
        text-decoration: none;
    }
    .search-mobile {
        display: none;
    }
    .search-none {
        display: flex !important;
    }
    .input-search {
        width: 350px;
    }
    
    .loupe-search {
        margin-left: -33px;
        margin-top: 5px;
    }
    .alert-notification {
        right: 23%;
    }
}


@media screen and (min-width: 768px) {
    .alert-notification {
        right: 7.5%;
    }
}

